body {
  margin-top: 100px;
}

.entete {
  margin-top: 100px;
  background-color: #e4dcd1;
}

img.logo {
  width: 250px;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
}

td .tarif {
  padding: 5px 20px;
}

.devise {
  text-align: center;
}

.lien_pied {
  float: right;
}
/*.button {
  display: inline-block;
  background-color: #f3412a;
  border-radius: 10px;
  border: 4px double #fc0202;
  color: #f60c0c;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}*/
